body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header h2 {
  font-family: Menlo;
  font-size: 1.25em;
}
p {
  font-size: 1.1em;
}
.header {
  display: none;
  opacity: .9;
  position:fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  text-align: center;
  padding: 10px;
  background-color: #2B3A42;
  color: white;
  font-family: Calibri light;
  border-bottom: 2px solid #3F5866;
  z-index: 2;
}
.float {
  float: right;
  clear: right;
}
.landing-page {
  text-align: center;
  background-color: #114090;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px solid black;
}
.landing-page h1 {
  font-family: Calibri light;
}
.landing-page p {
  font-family: Menlo;
}
.userInput {
    display: none;
    opacity: .9;
    background-color: #FFF8D8;
    color:black;
    font-family: Menlo;
    padding: 15px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 8vh;
    right: 0;
    overflow-x: hidden;
    border: 2px solid black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

.calulator-table {
  display: inline-block;
  background-color: #D8D0C5;
  border-bottom: 2px solid black;
  width: 100vw;
  padding: 50px;
  height: 100vh;
}
.bmr {
  background-color: #2B3A42;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: 20vw;
  height: 50vh;
  color:white;
  font-family: Calibri light;
  position: absolute;
  left: 0;
  top: 110vh;
  border-top: 3px solid #3F5866;
  border-right: 3px solid #3F5866;
  border-bottom: 3px solid #3F5866;
  border-radius: 0 10px 10px 0;
  text-align: center;
  animation: all 5s infinite;
}
#closeButton {
  width: 7vw;
  background-color: rgba(180, 49, 49, 0.9);
  border-radius: 5px;
  border: 1px solid black;
  font-size: .8rem;
  font-family: Menlo;
  position: absolute;
  bottom: 0;
}
#closeButton:hover {
  cursor: pointer;
  background-color: rgba(173, 31, 31, 0.9);
}
#closeButton:active {
  cursor: pointer;
  background-color: rgba(175, 6, 6, 0.9);
}
.macros-table{
  display: inline-block;
  background-color: #D8D0C5;
  border-bottom: 2px solid black;
  width: 100vw;
  padding: 50px;
  min-height: 75vh;
}
.goals-table {
  display: inline-block;
  background-color: #D8D0C5;
  border-bottom: 2px solid black;
  width: 100vw;
  padding: 50px;
  height: 100vh;
}
.center {
  text-align: center;
}
.table-fill  {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  /* animation: all 5s infinite; */
}
.calc {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
#male {
  margin-left: 1vw;
  margin-right: 5vw;
}
#female {
  margin-left: 1vw;
}
.genderError {
  text-align: center;
  background-color: rgba(214, 31, 31, 0.6);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  color: white;
  width: 50vw;
  margin-top: 2vh;
  margin-right:auto;
  margin-left: auto;
}
.goals {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.macros {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  min-height: 75vh;
}
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}
th:first-child {
  border-top-left-radius:3px;
}
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
tr:first-child {
  border-top:none;
}
tr:last-child {
  border-bottom:none;
}
tr:nth-child(odd) td {
  background:#EBEBEB;
}
td {
  background:#FFFFFF;
  padding: 10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}





